doctype html
html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel='stylesheet', href='/p_main.css')
        link(rel='stylesheet', type='text/css', href='/p_404.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        meta(charset='UTF-8')
        title Главная
    body.color
        include s_mixin_general.pug
        #upbutton
        .wrapper
            +header
            .content-404
                p 404
                .line-404
                p Страница не найдена :(
                .button-404
                    a(href='/main')
                        button НА ГЛАВНУЮ
            +footer
    link(href='https://fonts.googleapis.com/css?family=Rubik:bold', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rubik:300', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rubik:500', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Comfortaa:300', rel='stylesheet')