doctype html
html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel='shortcut icon', type='image/ico', href='/pitstop.ico')
        link(href='/p_main.css', rel='stylesheet')
        link(type='text/css', href='/p_pricing.css', rel='stylesheet')
        link(type='text/css', href='/p_about.css', rel='stylesheet')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        meta(charset='UTF-8')
        title О нас
    body.color
        include s_mixin_general.pug
        +header
        .content-onas
            .content-center-margin
                .text-all
                    .text-line
                        p О НАС
                        .line-onas
                    p
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                        | penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        br
                        br
                        |  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                        |                fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                        |                dictum felis eu pede mollis pretium. Integer tincidunt.
                        br
                        br
                        |  Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat
                        |                vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut
                        |                metus varius laoreet. Quisque rutrum. Aenean imperdiet.
                .benefits
                    .center-text-benefits
                        .text-line
                            p.text-advantages ПРЕИМУЩЕСТВА
                            .line-onas
                    .benefits-items
                        img(src='/assort.png', alt='')
                        .text-benefits-items
                            p Широкий ассортимент
                            p Огромный выбор качественных шин и дисков
                    .benefits-items
                        img(src='/quality-assurance.png', alt='')
                        .text-benefits-items
                            p Гарантия качества
                            p
                                | Нашей главной целью и основополагающим принципом в работе является удовлетворенность клиентов.
                    .benefits-items
                        img(src='/model-top.png', alt='')
                        .text-benefits-items
                            p
                                | Подбор лучшей
                                br
                                | модели
                            p Мы стремимся предоставить максимум полезной информации о продаваемых товарах.
                    .benefits-items
                        img(src='/speed-delivery.png', alt='')
                        .text-benefits-items
                            p Быстрая доставка
                            p
                                | Доставка по Украине осуществляется курьерскими службами: «Новая Почта» и «Ин-Тайм» на Ваш выбор.
                .text-all
                    .text-line
                        p ПРИГОН АВТОМОБИЛЕЙ
                        .line-onas
                    p
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                        | penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        br
                        br
                        |  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                        |                fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                        |                dictum felis eu pede mollis pretium. Integer tincidunt.
                        br
                        br
                        |  Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat
                        |                vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut
                        |                metus varius laoreet. Quisque rutrum. Aenean imperdiet.
                .text-all
                    .text-line
                        p ПРОДАЖА АТОЗАПЧАСТЕЙ
                        .line-onas
                    p
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                        | penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        br
                        br
                        |  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                        |                fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                        |                dictum felis eu pede mollis pretium. Integer tincidunt.
                        br
                        br
                        |  Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat
                        |                vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut
                        |                metus varius laoreet. Quisque rutrum. Aenean imperdiet.
        +footer
    link(href='https://fonts.googleapis.com/css?family=Rubik:bold', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rubik:300', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rubik:500', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Comfortaa:300', rel='stylesheet')