<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="/p_admin_panel.css", rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/p_admin_panel.js")
        title Admin Panel
    body
        // Mixins
        mixin page_number(number)
            if number == page
                a.selected(href=url_before_page + number + url_after_page)= number
            else
                a.not-selected(href=url_before_page + number + url_after_page)= number

        mixin results_not_found
            p Результаты не найдены

        mixin item_short(order)
            .item-short
                div.first-line
                    p.title-half ДЕТАЛИ ЗАКАЗА
                    p
                        strong Номер заказа:&nbsp
                        =order.idOrder
                    p
                        strong Дата и время оформления:&nbsp
                        =order.date_sent
                    p
                        strong Статус:&nbsp
                        if ordersType == 'pending'
                            | Ожидает обработки
                        else if ordersType == 'closed'
                            | Обработан
                        else if ordersType == 'cancelled'
                            | Отменён
                    p
                        strong Цена на момент оформления:&nbsp
                        =order.total_sum
                    br
                    p
                        strong Имя заказчика:&nbsp
                        =order.customer_name
                    p
                        strong E-mail:&nbsp
                        =order.customer_email
                    p 
                        strong Телефон:&nbsp
                        =order.customer_telephone
                    br
                    p
                        strong Способ оплаты:&nbsp
                        if order.payment_type == "card"
                            | банковской картой
                        else if order.payment_type == "nalplat"
                            | наложенный платеж
                    p
                        strong Способ доставки:&nbsp
                        if order.shipping_type == "novapost"
                            | Новая Почта
                        else if order.shipping_type == "intime"
                            | ИнТайм
                        else if order.shipping_type == "address"
                            | Адресная доставка
                    p
                        strong Указанный адрес:&nbsp
                        =order.shipping_address
                    br
                    div
                        p
                            strong Пометить как:
                        if ordersType == 'pending'
                            a(href=makeCgangeStatusHref(order.idOrder, "closed")) Обработан
                            a(href=makeCgangeStatusHref(order.idOrder, "cancelled")) Отменён
                        else if ordersType =='closed'
                            a(href=makeCgangeStatusHref(order.idOrder, "pending")) Ожидает обработки
                            a(href=makeCgangeStatusHref(order.idOrder, "cancelled")) Отменён
                        else if ordersType =='cancelled'
                            a(href=makeCgangeStatusHref(order.idOrder, "pending")) Ожидает обработки
                            a(href=makeCgangeStatusHref(order.idOrder, "closed")) Обработан

                div.second-line
                    p.title-half= "ПОЗИЦИИ (" + order.order_positions.length + ")"
                    each order_position in order.order_positions
                        p
                            strong Тип:&nbsp
                            if order_position.type == "tires"
                                | шины
                            else if order_position.type == "disks"
                                | диски
                        p
                            strong Название:&nbsp
                            =order_position.name
                        p
                            strong Id:&nbsp
                            =order_position.id
                        p
                            strong Заказанное кол-во:&nbsp
                            =order_position.amount
                        p
                            strong Цена 1шт на момент заказа:&nbsp
                            =order_position.price_moment
                        p
                            strong Цена с учётом кол-ва:&nbsp
                            =order_position.amount + " * " + order_position.price_moment + " = " + order_position.amount*order_position.price_moment
                        br

        // Variables
        - 
            var valElementsOnPage;
            var valDateToSort;
            var valDateFromSort;

            if(query){
                valDateToSort = (query.date_to? query.date_to : '');
                valDateFromSort = (query.date_from? query.date_from : '');
                valElementsOnPage = (query.elements_on_page? query.elements_on_page : 25);
            } else {
                valElementsOnPage = 25;
            }
            var valOrderNumber = (orderNumber? orderNumber : '');
            var ordersType = (type? type: 'pending');

            if(orderNumber && orders[0]){
                ordersType = orders[0].order_status;

                switch(orders[0].order_status){
                    case "pending":
                        orders[0].order_status = "Ожидает обработки";
                        break;
                    case "cancelled":
                        orders[0].order_status = "Отменён";
                        break;
                    case "closed":
                        orders[0].order_status = "Обработан";
                        break;
                }
            }

            function makeCgangeStatusHref(idOrder, new_status){
                if(orderNumber){
                    return "/admin/change/?idOrder=" + idOrder + "&new_status=" + new_status + "&orders_type=" + new_status;
                } else {
                    return "/admin/change/?idOrder=" + idOrder + "&new_status=" + new_status + "&orders_type=" + ordersType;
                }
            }
        .sidebar
            div
                p.sidebar-header УПРАВЛЕНИЕ ЗАКАЗАМИ
                .divider-sidebar

                if ordersType==='pending'
                    a#pending.selected(href='/admin/orders/pending') Ожидают обработки
                else
                    a#pending(href='/admin/orders/pending') Ожидают обработки

                if ordersType==='closed'
                    a#closed.selected(href='/admin/orders/closed') Обработка завершена
                else
                    a#closed(href='/admin/orders/closed') Обработка завершена

                if ordersType==='cancelled'
                    a#cancelled.selected(href='/admin/orders/cancelled') Отменены
                else
                    a#cancelled(href='/admin/orders/cancelled') Отменены
            
            div
                .wrap-upload(method="post", enctype="multipart/form-data", action="/admin/upload", onsubmit="submit_upload(this); return false;")
                    p.sidebar-title.margined-sidebar-title Файлы для обновления БД
                    div.sidebar-title-mini-wrap
                        p.sidebar-title-mini Диски 
                            strong .xls
                        span.loading-upload#loading-upload-disks
                        img(src="/done.png", alt="").done-upload#done-upload-disks
                        img(src="/wrong.png", alt="").wrong-upload#wrong-upload-disks
                        p.upload-error-title#title-error-upload-disks
                        p.upload-done-title#title-done-upload-disks
                    form#form-upload-disks
                        input.margined-sidebar-element(name="file_disks", type="file")

                    div.sidebar-title-mini-wrap
                        p.sidebar-title-mini Шины-грузовые 
                            strong .xls
                        span.loading-upload#loading-upload-tires-gruz
                        img(src="/done.png", alt="").done-upload#done-upload-tires-gruz
                        img(src="/wrong.png", alt="").wrong-upload#wrong-upload-tires-gruz
                        p.upload-error-title#title-error-upload-tires-gruz
                        p.upload-done-title#title-done-upload-tires-gruz
                    form#form-upload-tires-gruz
                        input.margined-sidebar-element(name="file_tires_gruz", type="file")

                    div.sidebar-title-mini-wrap
                        p.sidebar-title-mini Шины-легковые 
                            strong .xls
                        span.loading-upload#loading-upload-tires-legk
                        img(src="/done.png", alt="").done-upload#done-upload-tires-legk
                        img(src="/wrong.png", alt="").wrong-upload#wrong-upload-tires-legk
                        p.upload-error-title#title-error-upload-tires-legk
                        p.upload-done-title#title-done-upload-tires-legk
                    form#form-upload-tires-legk
                        input.margined-sidebar-element(name="file_tires_legk", type="file")
                    
                    p.sidebar-title-warn *Необязательно загружать все файлы сразу.
                    p.sidebar-title-warn &nbsp
                    p.sidebar-title-warn **Перед отправкой удостоверьтесь, что все отправляемые файлы отформатированы правильно, имеют правильное расширение и их содержание соответвует запрашиваемому. При нарушении этих правил будет нарушена целостность данных и пользователи будут видеть искажённую информацию на сайте, либо же вообще не смогут увидеть ничего!
                    p.sidebar-title-warn &nbsp
                    
                    button.margined-sidebar-element(onclick="submit_upload(); return false;") Обновить БД

                form#form-find-by-number(onsubmit="onSubmitByNumber()" method='get')
                    p.sidebar-title.margined-sidebar-title Быстрый поиск по номеру заказа
                    input.margined-sidebar-element#order-number-input.number-input(type="number", placeholder="Номер", value=valOrderNumber)
                    button.margined-sidebar-element(type="submit", onClick='return inputEmpty(\'order-number-input\')') Найти
        .content
            .header
                form#sort-options(action="/admin/orders/" + ordersType + "/1/sort" method='get')
                    label Отобразить: 
                        select(name="order_by")
                            if query && query.order_by == 'old_first'
                                option(value='new_first') Сначала новые
                                option(value='old_first' selected) Сначала старые
                            else
                                option(value='new_first' selected) Сначала новые
                                option(value='old_first') Сначала старые
                    label С: 
                        input(name="date_from", type="date", value=valDateFromSort)
                    label По: 
                        input(name="date_to", type="date", value=valDateToSort)
                    label Позиций на странице: 
                        input#elements-on-page-input.number-input(name="elements_on_page", type="number", value=valElementsOnPage)
                    button(type="submit", onClick='return inputEmpty(\'elements-on-page-input\')') Найти
                    a(href='/admin/logout') Выйти
                #search-description
                    if orders
                            p.results-found= 'Найдено результатов: ' + results_amount
                    .page-numbers
                        - for(let i = below_margin_page; i <= above_margin_page; ++i)
                            +page_number(i)

            .item-list
                if orderNumber
                    if orders.length > 0
                        each val in orders
                            +item_short(val)
                    else
                        +results_not_found
                else if orders
                    if orders.length > 0
                        each val in orders
                            +item_short(val)
                    else 
                        +results_not_found