<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="/p_admin_login.css", rel="stylesheet")
        title Authenticate
    body
        form(method='post')
            input(name='password', type='password', placeholder='password')
            button(type='submit') enter admin