doctype html
html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(type='image/ico', href='/pitstop.ico', rel='shortcut icon')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        link(href='/p_main.css', rel='stylesheet')
        link(type='text/css', href='/p_auto.css', rel='stylesheet')
        meta(charset='UTF-8')
        title= query.vendor + " " + query.model + " " + query.modif
    body.color
        include s_mixin_general.pug
        +header
        .content-auto
            .margin-auto
                p= "Размеры шин и дисков на " + query.vendor + " " + query.model + " " + query.modif + ", " + query.year + " год выпуска:"
                .column-auto
                    .tydres-left
                        .img-text
                            p РАЗМЕРЫ ШИН
                            img(src='/shina_bg.png', alt='')
                        .option
                            if tires_stock && tires_stock[0] && tires_stock[0].name != "null"
                                p
                                    | заводская комплектация
                                p
                                    ul
                                        if tires_stock
                                            each val in tires_stock
                                                li
                                                    a(href=val.href)= val.name
                        .option
                            if tires_replace && tires_replace[0] && tires_replace[0].name != "null"
                                p
                                    | варианты замены
                                p
                                    ul
                                        if tires_replace
                                            each val in tires_replace
                                                li
                                                    a(href=val.href)= val.name
                        .option
                            if tires_stock && tires_stock[0] && tires_stock[0].name != "null"
                                p
                                    | тюнинг
                                p
                                    ul
                                        if tires_stock
                                            each val in tires_stock
                                                li
                                                    a(href=val.href)= val.name
                    .disc-right
                        .img-text
                            p РАЗМЕРЫ ДИСКОВ
                            img(src='/disk_bg.png', alt='')
                        .option
                            p общие параметры дисков
                            p
                                ul
                                    li
                                        p.c= "PCD: " + row.pcd + "; Диаметр: " + row.diameter + ".; " + row.gaika
                        .option
                            if disks_stock && disks_stock[0] && disks_stock[0].name != "null"
                                p
                                    | заводская комплектация
                                p
                                    ul
                                        if disks_stock
                                            each val in disks_stock
                                                li
                                                    a(href=val.href)= val.name
                        .option
                            if disks_replace && disks_replace[0] && disks_replace[0].name != "null"
                                p
                                    | варианты замены
                                p
                                    ul
                                        each val in disks_replace
                                            li
                                                a(href=val.href)= val.name
                        .option
                            if disks_tuning && disks_tuning[0] && disks_tuning[0].name != "null"
                                p
                                    | тюнинг
                                p
                                    ul
                                        each val in disks_tuning
                                            li
                                                a(href=val.href)= val.name
        +footer
    link(href='https://fonts.googleapis.com/css?family=Rubik:bold', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rubik:300', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rubik:500', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Comfortaa:300', rel='stylesheet')