doctype html
html(lang='en')
    include s_mixin_general.pug
    include s_mixin_basket.pug
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(type='image/ico', href='/pitstop.ico', rel='shortcut icon')
        link(type='text/css', href='/p_main.css', rel='stylesheet')
        link(type='text/css', href='/p_basket.css', rel='stylesheet')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/p_basket.js")
        script(src="/s_down.js")
        meta(charset='UTF-8')
        title Корзина
    body.color
        include s_mixin_basket.pug

        form(id="form_basket", action="/basket/submit", method="post", onsubmit=("submit_form(" + str_items_disks + ", " + str_items_tires + "); return false;"))
        #upbutton
        .wrapper
            +header
            .content-basket
                .margin-backgraund
                    #success-bg
                        p Ваш заказ успешно оформлен!
                        br
                        a(href="/main") &nbsp На главную
                    #error-bg
                        p При оформлении вашего заказа возникла ошибка. Вернитесь на главную и повторите Ваш заказ.
                        br
                        a(href="/main") &nbsp На главную
                    .basket-oform-zakaz#rm-1
                        .next
                            .text-line
                                p КОРЗИНА
                            a#back-to-previous(onclick="window.history.back();")
                                span
                                    img(src='/strellka.png', alt='')
                                    | &nbspвернуться назад
                        // Форма Доставки
                        form.center-order
                            p.text-oform-zakaz ОФОРМИТЬ ЗАКАЗ
                            .text-top-order
                                p 1. Личные данные
                                .line-center-order
                                p.red-text 2. Оплата и доставка
                            .city-form(action='')
                                input#exampleInputEmail1.form-control(name="shipping_address_country", type='text', aria-describedby='emailHelp', maxlength="100", form="form_basket", placeholder='Город/страна')
                                span#shipping_address_country_f.error-notif
                                br
                                p.field-title Способ доставки:
                                .column-checkbox-city
                                    .row-form
                                        input#newpochta(name='shipping_type', type='radio', form="form_basket", value='novapost')
                                        label(for='newpochta') Новая Почта
                                    .row-form
                                        input#intime(name='shipping_type', type='radio', form="form_basket", value='intime')
                                        label(for='intime') ИнТайм
                                    .row-form
                                        input#adress(name='shipping_type', type='radio', form="form_basket", value='address')
                                        label(for='adress') Адресная доставка
                                    span#shipping_type_f.error-notif
                                .column-checkbox-city
                                    br
                                .column-checkbox-city
                                input#exampleInputEmail1.form-control(name="shipping_address_department", type='text', aria-describedby='emailHelp', maxlength="100", form="form_basket", placeholder='Адрес доставки или номер отделения:')
                                span#shipping_address_department_f.error-notif
                                br
                                p.field-title Способ оплаты:
                                .column-checkbox-city
                                    .row-form
                                        input(name='payment_type', type='radio', form="form_basket", value='nalplat')
                                        label(for='naloz') Наложенный платеж
                                    .row-form
                                        input#Oplata(name='payment_type', type='radio', form="form_basket", value='card')
                                        label(for='Oplata') Оплата банковской картой
                                .column-checkbox-city
                                    span#payment_type_f.error-notif
                                    
                            .button-bootom
                                button.order-button(form="form_basket") ОФОРМИТЬ
                        .center-order-two
                            .form
                                p.text-oform-zakaz ОФОРМИТЬ ЗАКАЗ
                                .text-top-order
                                    p.red-text 1. Личные данные
                                    .line-center-order
                                    p 2. Оплата и доставка
                                // Форма Личные данные
                                form.personaldata(name='form', onsubmit='return validate_personal_data()', action='')
                                    input#nameFIO.form-control(name='name', type='text', aria-describedby='nameFIO', maxlength="100", form="form_basket", placeholder='Ф.И.О')
                                    span#namef.error-notif
                                    input#exampleInputEmail1.form-control(name='email', type='text', aria-describedby='emailHelp', maxlength="100", form="form_basket", placeholder='Email:')
                                    span#emailf.error-notif
                                    input#numberphone.form-control(name='phone', type='text', aria-describedby='numberphone', maxlength="100", form="form_basket", placeholder='Номер телефона:')
                                    span#numberid.error-notif
                                    .button-bootom
                                        input#order-button-personaldata(type='submit', value='Далее')
                        .row-oplata
                            span К ОПЛАТЕ:
                            span#total-sum= total_sum
                            span грн
                    #empty-cart-half.basket-oform-zakaz
                        div
                            p В Вашей корзине пусто!
                            br
                            a(href="/tires") Подобрать шины
                            a(href="/disks") Подобрать диски
                    .basket-oform-zakaz#rm-2
                        each disk in items_disks
                            +item_basket(disk, "disks")
                        each tire in items_tires
                            +item_basket(tire, "tires")
            +footer
    link(href='https://fonts.googleapis.com/css?family=Rubik:bold', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rubik:300', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rubik:500', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Comfortaa:300', rel='stylesheet')