doctype html
html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel='shortcut icon', type='image/ico', href='/pitstop.ico')
        link(href='/p_main.css', rel='stylesheet')
        link(type='text/css', href='/p_catalogue.css', rel='stylesheet')
        link(href="/f_pick_filter.css", rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src='/p_catalogue.js', type='text/javascript')
        script(src="/s_down.js")
        meta(charset='UTF-8')
        if catalogue_type == "disks"
            title Диски
        else if catalogue_type == "tires"
            title Шины
    body.color
        include s_mixin_general.pug
        include s_mixin_catalogue.pug
        
        -
            let form_name;
            if(catalogue_type == "disks"){
                form_name = "form_disks";
            } else if (catalogue_type == "tires") {
                form_name = "form_tires";
            }

        if catalogue_type == "disks"
            +form_disks
        else if catalogue_type == "tires"
            +form_tires

        #upbutton
        .wrapper
            +header
            .catalog
                .catalog-v2
                    // Форма фильтров
                    if catalogue_type == "disks"
                        +filter_disks
                    else if catalogue_type == "tires"
                        +filter_tires
                    .catalog-shinu
                        .row-ctatalog-shinu-disc
                            p.shinu-text
                                if catalogue_type == "disks"
                                    | ДИСКИ
                                else if catalogue_type == "tires"
                                    | ШИНЫ
                                // Форма Cортировки
                            form.row-sort
                                p Сортировка:
                                select#sortirovka(name="order_by", form=form_name, onchange=("on_change_order_by(this.value, '" + catalogue_type + "')"))
                                    if query && query.order_by
                                        if query.order_by == "cheap_first"
                                            option(value="cheap_first" selected) От дешёвых к дорогим
                                            option(value="expensive_first") От дорогих к дешёвым
                                        else if query.order_by == "expensive_first"
                                            option(value="cheap_first") От дешёвых к дорогим
                                            option(value="expensive_first" selected) От дорогих к дешёвым
                                    else
                                        option(value="cheap_first" selected) От дешёвых к дорогим
                                        option(value="expensive_first") От дорогих к дешёвым
                        .row-item#items-ajax-container
                            each item in items
                                +item(item)
                        .downolad
                            button.downolad-all(onclick=("click_load_more('" + catalogue_type + "')"))
                                | Загрузить ещё
            +footer
            if catalogue_type == "disks"
                #catalogue-type-disks-indicator
            else if catalogue_type == "tires"
                #catalogue-type-tires-indicator
    link(href='https://fonts.googleapis.com/css?family=Rubik:bold', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rubik:300', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rubik:500', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Comfortaa:300', rel='stylesheet')