doctype html
html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel='shortcut icon', type='image/ico', href='/pitstop.ico')
        link(type='text/css', href='/p_main.css', rel='stylesheet')
        link(type='text/css', href='/p_item.css', rel='stylesheet')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/p_item.js")
        meta(charset='UTF-8')
        if type == "tires"
            title= "Шины | " + item.name
        else if type == "disks"
            title= "Диски | " + item.name
    body.color
        include s_mixin_general.pug
        include s_mixin_item.pug
        .wrapper
            +header
            .content-item-tovar
                .center-margin-item
                    .margin-item
                        .left-item
                            p= item.name
                            .item-row-text
                                a#back-to-previous(onclick="window.history.back();")
                                    span
                                        img(src='/strellka.png', alt='')
                                        | &nbspвернуться назад
                            if type == "tires"
                                img.img-tovar-item(src=('/' + item.photo), onerror='on_image_error(this)')
                            else if type == "disks"
                                img.img-tovar-item(src=('/' + item.photo_1), onerror='on_image_error(this)') 
                        .center-info-item
                            p Характеристики:
                            if type == "tires"
                                +specs_tire
                            else if type == "disks"
                                +specs_disk
                            .item-row-text
                                #hide-plus-minus.value-number
                                    .ball-price-plus
                                        span#plus +
                                    input#plus-minus(name='value', type='text', value='0')
                                    .ball-price-minus
                                        span#minus -
                                span#text-size= Math.ceil(item.end_rozn_price)
                                span#text-size &nbspгрн
                            .button-korzina
                                - if(basket_id && basket_id.includes(item.idProduct.toString()))
                                    button.basket.buy-added(onclick=("add_to_cart('" + item.idProduct + "','" + type + "', this)")) В корзине
                                - else 
                                    button.basket.buy-notadded(onclick=("add_to_cart('" + item.idProduct + "','" + type + "', this)")) КУПИТЬ
                        .info-dostavka
                            p Доставка по Украине
                            .row-img-text
                                img(src='/auto-text.png')
                                .text-item-column
                                    p Доствка от 35грн
                                    p Срок доставки 1-3 дня
                            p Удобный способ оплаты
                            .row-img-text
                                img(src='/iconpay.png')
                                .text-item-column
                                    p Срок доставки 1-3 дня
                                    p Наличными на складе
            +footer
    link(href='https://fonts.googleapis.com/css?family=Rubik:bold', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rubik:300', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rubik:500', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Comfortaa:300', rel='stylesheet')