html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel='shortcut icon', type='image/ico', href='/pitstop.ico')
        link(type='text/css', href='/p_main.css', rel='stylesheet')
        link(type='text/css', href='/f_pick_filter.css', rel='stylesheet')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/p_main.js")
        meta(charset='UTF-8')
        title Главная
    body
        include s_mixin_general.pug
        include s_mixin_main.pug
        form(id="form_disks" action="/disks" method="get")
        form(id="form_tires", action="/tires", method="get")
        .wrapper
            +header
            .content-priory
                .row
                    .title-left
                        .title-glav
                            .text-line
                                p.strong ШИНЫ
                                p.bold И ДИСКИ
                            p.text-car
                                | Лучшее предложение для вашего
                                br
                                | автомобиля
                    .center-button
                        .center-content
                            .pulse3
                            img.shinu(src='/shinu.png')
                            img.disc(src='/disc.png', alt='placeholder+image')
                        .button
                            button.basikbox
                                .pulse2
                                p ПОДОБРАТЬ
                    .Quality
                        .form-assort
                            .form-balls
                                .balls-rihgt
                            .line-text
                                .line
                                a.text-quality
                                    | Широкий
                                    br
                                    | ассортимент
                        .quality-garant
                            .form-balls
                                .balls-rihgt
                            .line-text
                                .line
                                a.text-quality
                                    | Гарантия
                                    br
                                    | качества
                        .model
                            .form-balls
                                .balls-rihgt
                            .line-text
                                .line
                                a.text-quality
                                    | Подбор лучшей
                                    br
                                    | модели
                        .free-Delivery
                            .form-balls
                                .balls-rihgt
                            .line-text
                                .line
                                a.text-quality
                                    | Быстрая
                                    br
                                    | доставка
                .center-filter
                    .main
                        input#tab-1(name='show', type='radio', checked='')
                        input#tab-2(name='show', type='radio')
                        .tab
                            label.tab-1(for='tab-1') ШИНЫ
                            label.tab-2(for='tab-2') ДИСКИ
                        .content
                            .content-shinu
                                .main1
                                    input#tab-3(name='show1', type='radio', checked='')
                                    input#tab-4(name='show1', type='radio')
                                    .tab1
                                        label(for='tab-3') ПО РАЗМЕРАМ
                                        label(for='tab-4') ПО МАРКЕ АВТО
                                    .contentt
                                        // Форма Шин по размерам
                                        +form_tires
                                        // Форма Шинов по марке авто
                                        +form_by_auto("tires")
                            .content-disc
                                .main1
                                    input#tab-5(name='show2', type='radio', checked='')
                                    input#tab-6(name='show2', type='radio')
                                    .tab1
                                        label(for='tab-5') ПО РАЗМЕРАМ
                                        label(for='tab-6') ПО МАРКЕ АВТО
                                    .contentt
                                        // Форма Диски по размера
                                        +form_disks
                                        // Форма Диски по марке авто
                                        +form_by_auto("disks")
            +footer
    link(href='https://fonts.googleapis.com/css?family=Rubik:bold', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rubik:300', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rubik:500', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Comfortaa:300', rel='stylesheet')