doctype html
html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel='shortcut icon', type='image/ico', href='/pitstop.ico')
        link(href='/p_main.css', rel='stylesheet')
        link(type='text/css', href='/p_pricing.css', rel='stylesheet')
        link(type='text/css', href='/p_about.css', rel='stylesheet')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        meta(charset='UTF-8')
        title Доставка & Оплата
    body.color
        include s_mixin_general.pug
        +header
        .content-dostavka
            .dostavka-oplata
                .item-tovar
                    .text-line
                        p.strong-text ДОСТАВКА ТОВАРА
                        .line-onas
                    p
                        | Доставка по Украине осуществляется курьерскими службами: «Новая Почта», «Ин-Тайм» на ваш выбор.Выяснить расположение пунктов приема-выдачи этих перевозчиков вы можете на их официальных сайтах.
                    .img-column
                        .img-nova
                            img.img(src='/nova-pochta.png', alt='')
                        .img-nova
                            img.img(src='/int-time.png', alt='')
                    .img-time-care
                        p Сроки доставки: согласно графику доставки «Нова пошта» и «ІнТайм»
                    .img-time-care
                        img(src='/care.png', alt='')
                .item-tovar
                    .text-line
                        p.strong-text СПОСОБЫ ОПЛАТЫ ТОВАРА
                        .line-onas
                    .payfree
                        .text-column-pay
                            p.strong-text Наложенный платеж
                            p
                                | Оплата наложенным платежом осуществляется при получении товара через курьерскую службу (в отделении курьерской службы или у курьера). Данная услуга является платной и её стоимость рассчитывается согласно тарифов курьерской службы.
                        img.img-nova(src='/perevod.png', alt='')
                    .payfree
                        .text-column-pay
                            p.strong-text На карту Visa, MasterCard
                            p
                                | После оформления заказа выберите способ оплаты "Кредитная карта" - система перенаправит Вас на страницу интернет-эквайринга банка. Как только Вы введете данные карты - оплата за выбранную услугу будет зачтена незамедлительно.
                        img.img-nova(src='/visa.png', alt='')
        +footer
    link(href='https://fonts.googleapis.com/css?family=Rubik:bold', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rubik:300', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rubik:500', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Comfortaa:300', rel='stylesheet')