mixin specs_tire
    .item-margin-tovar
        .item-row-text
            span Бренд:
            if item.brand
                span= item.brand
            else
                span не указан
        .item-row-text
            span Модель:
            if item.model != "null"
                span= item.model
            else
                span не указана
    .item-margin-tovar
        .item-row-text
            span Ширина:
            if item.width != "null"
                span= item.width
            else
                span не указана
        .item-row-text
            span Высота:
            if item.height != "null"
                span= item.height
            else
                span не указана
        .item-row-text
            span Диаметр:
            if item.diameter != "null"
                span= item.diameter
            else
                span не указан
    .item-margin-tovar
        .item-row-text
            span Сезон:
            if item.season != "null"
                span= item.season
            else
                span не указан
        .item-row-text
            span Шипы:
            if item.ship == "шип"
                span да
            else if item.ship == "нешип"
                span нет
            else
                span не указано
        .item-row-text
            span Тип:
            if item.wehicle_type != "null"
                span= item.wehicle_type
            else
                span не указан
    .item-margin-tovar
        if item.load_index
        .item-row-text
            span Индекс нагрузки:
            if item.load_index != "null"
                span= item.load_index
            else
                span не указан
        .item-row-text
            span Индекс скорости:
            if item.speed_index != "null"
                span= item.speed_index
            else
                span не указан
    .item-margin-tovar
        .item-row-text
            span Страна-производитель:
            if item.country != "null"
                span= item.country
            else
                span не указана
        .item-row-text
            span В наличии:
            if item.amount != "null"
                span= item.amount + " шт."
            else
                span неизвестно
    

mixin specs_disk
    .item-margin-tovar 
        .item-row-text
            span Бренд:
            if item.brand
                span= item.brand
            else
                span не указан
        .item-row-text
            span Модель:
            if item.model != "null"
                span= item.model
            else
                span не указана
    .item-margin-tovar
        .item-row-text
            span Диаметр:
            if item.diameter != "null"
                span= item.diameter
            else
                span не указан
        .item-row-text
            span Крепеж:
            if item.krepezh != "null"
                span= item.krepezh
            else
                span не указан
        .item-row-text
            span Ширина:
            if item.width != "null"
                span= item.width
            else
                span не указана
    .item-margin-tovar
        .item-row-text
            span PCD1:
            if item.pcd1 != "null"
                span= item.pcd1
            else
                span не указано
        .item-row-text
            span PCD2:
            if item.pcd2 != "null"
                span= item.pcd2
            else
                span не указано
        .item-row-text
            span ET:
            if item.et != "null"
                span= item.et
            else
                span не указан
        .item-row-text
            span DIA:
            if item.dia != "null"
                span= item.dia
            else
                span не указан
    .item-margin-tovar
        .item-row-text
            span Тип диска:
            if item.wheel_type != "null"
                span= item.wheel_type
            else
                span не указан
        .item-row-text
            span Цвет:
            if item.color != "null"
                span= item.color
            else
                span не указан
    .item-margin-tovar
        .item-row-text
            span В наличии:
            if item.amount != "null"
                span= item.amount + " шт."
            else
                span неизвестно