// ПОЗИЦИЯ В КАТАЛОГЕ
mixin item(item)
	.item
		a(href=('/' + catalogue_type + '/' + item.idProduct))
			.img-item
				if catalogue_type == "disks"
					img(src=('/' + item.photo_1), onerror='on_image_error(this)') 
				else if catalogue_type == "tires"
					img(src=('/' + item.photo), onerror='on_image_error(this)')
		.line-item
		a(href=('/' + catalogue_type + '/' + item.idProduct))
			p.text-item= item.name
		.row-img-button-price
			if catalogue_type == "disks"
				p.text-disc-item= item.wheel_type
			else if catalogue_type == "tires"
				p.text-disc-item= item.season
			.text-center-buy
				span= Math.ceil(item.end_rozn_price) 
				span &nbspгрн
			- if(basket_id && basket_id.includes(item.idProduct.toString()))
				button.buy.buy-added(onclick=("add_to_cart('" + item.idProduct + "','" + catalogue_type + "', this)")) В корзине
			- else 
				button.buy.buy-notadded(onclick=("add_to_cart('" + item.idProduct + "','" + catalogue_type + "', this)")) КУПИТЬ
				

// ФИЛЬТР ШИНЫ
mixin filter_tires
	form.filter
		.margin-catalog
			p Цена
			+range_slider("form_tires")
			.parametr
				p
					| ПАРАМЕТРЫ
				p
					.setting-parametr-disc
						.select-column
							select.setting-margin#select-ajax-brand(name="brand", onchange=("on_change_select_brand(this.value, '" + catalogue_type + "')"), form="form_tires")
								if query && query.brand == "all"
									option(selected, value="all") Бренд
								else
									option(value="all") Бренд
								each val in a_brand
									if query && query.brand == val
										option(selected, value=val)= val
									else
										option(value=val)= val
							select.setting-margin#select-ajax-model(name="model", form="form_tires")
						.select-column
							select.setting-margin(name="width", form="form_tires")
								if query && query.width == "all"
									option(selected, value="all") Ширина
								else
									option(value="all") Ширина
								each val in a_width
									if query && query.width == val
										option(selected, value=val)= val
									else
										option(value=val)= val
							select.setting-margin(name="height", form="form_tires")
								if query && query.height == "all"
									option(selected, value="all") Высота
								else
									option(value="all") Высота
								each val in a_height
									if query && query.height == val
										option(selected, value=val)= val
									else
										option(value=val)= val
							select.setting-margin(name="diameter", form="form_tires")
								if query && query.diameter == "all"
									option(selected, value="all") Диаметр
								else
									option(value="all") Диаметр
								each val in a_diameter
									if query && query.diameter == val
										option(selected, value=val)= val
									else
										option(value=val)= val
			.typedisc
				p СЕЗОН
				.row-shinu
					label.label-cursor
						if query && query.season_summer
							input(name='season_summer', type='checkbox', value="летняя", form="form_tires", checked)
						else
							input(name='season_summer', type='checkbox', value="летняя", form="form_tires")
						| Летние
				.row-shinu
					label.label-cursor
						if query && query.season_winter
							input(name='season_winter', type='checkbox', value="зимняя", form="form_tires", checked)
						else
							input(name='season_winter', type='checkbox', value="зимняя", form="form_tires")
						| Зимние
				.row-shinu
					label.label-cursor
						if query && query.season_all
							input(name='season_all', type='checkbox', value="всесезонная", form="form_tires", checked)
						else
							input(name='season_all', type='checkbox', value="всесезонная", form="form_tires")
						| Всесезонные
		.search-filter
			button#button-search-form.button-filter(form="form_tires") НАЙТИ

// ФИЛЬТР ДИСКИ
mixin filter_disks
	form.filter
		.margin-catalog
			p Цена
			+range_slider("form_disks")
			.parametr
				p
					| ПАРАМЕТРЫ
				p
					.setting-parametr-disc
						.select-column
							select.setting-margin#select-ajax-brand(name="brand", onchange=("on_change_select_brand(this.value, '" + catalogue_type + "')"), form="form_disks")
								if query && query.brand == "all"
									option(selected, value="all") Бренд
								else
									option(value="all") Бренд
								each val in a_brand
									if query && query.brand == val
										option(selected, value=val)= val
									else
										option(value=val)= val
							select.setting-margin#select-ajax-model(name="model", form="form_disks")
						.select-column
							select.setting-margin(name="diameter", form="form_disks")
								if query && query.diameter == "all"
									option(selected, value="all") Диаметр
								else
									option(value="all") Диаметр
								each val in a_diameter
									if query && query.diameter == val
										option(selected, value=val)= val
									else
										option(value=val)= val
							select.setting-margin(name="width", form="form_disks")
								if query && query.width == "all"
									option(selected, value="all") Ширина
								else
									option(value="all") Ширина
								each val in a_width
									if query && query.width == val
										option(selected, value=val)= val
									else
										option(value=val)= val
						.select-column
							select.setting-margin(name="krepezh", form="form_disks")
								if query && query.krepezh == "all"
									option(selected, value="all") Крепеж
								else
									option(value="all") Крепеж
								each val in a_krepezh
									if query && query.krepezh == val
										option(selected, value=val)= val
									else
										option(value=val)= val
							select.setting-margin(name="pcd", form="form_disks")
								if query && query.pcd == "all"
									option(selected, value="all") PCD
								else
									option(value="all") PCD
								each val in a_pcd1
									if query && query.pcd == val
										option(selected, value=val)= val
									else
										option(value=val)= val
							select.setting-margin(name="et", form="form_disks")
								if query && query.et == "all"
									option(selected, value="all") ET
								else
									option(value="all") ET
								each val in a_et
									if query && query.et == val
										option(selected, value=val)= val
									else
										option(value=val)= val
			.typedisc
				p ТИП ДИСКА
				.row-shinu
					label.label-cursor
						if query && query.disk_type_litoi
							input(name='disk_type_litoi', type='checkbox', value="литой", form="form_disks", checked)
						else
							input(name='disk_type_litoi', type='checkbox', value="литой", form="form_disks")
						| Литые
				.row-shinu
					label.label-cursor
						if query && query.disk_type_kovaniy
							input(name='disk_type_kovaniy', type='checkbox', value="кованый", form="form_disks", checked)
						else
							input(name='disk_type_kovaniy', type='checkbox', value="кованый", form="form_disks")
						| Кованые
				.row-shinu
					label.label-cursor
						if query && query.disk_type_stalnoi
							input(name='disk_type_stalnoi', type='checkbox', value="стальной", form="form_disks", checked)
						else
							input(name='disk_type_stalnoi', type='checkbox', value="стальной", form="form_disks")
						| Стальные
		.search-filter
			button#button-search-form.button-filter(form="form_disks") НАЙТИ

mixin range_slider(form_id)
	.range-slider
		
		if query && query.min_price && query.max_price
			input(type='range', value=query.min_price, min=min_global_price, max=max_global_price, step='1')
			input(type='range', value=query.max_price, min=min_global_price, max=max_global_price, step='1')
			span.margin-span
				| от
				input(name="min_price", type='number', min=min_global_price, max=max_global_price, value=query.min_price, form=form_id)
				| грн - до
				input(name="max_price", type='number', min=min_global_price, max=max_global_price, value=query.max_price, form=form_id)
				| грн
		else
			input(type='range', value=min_global_price, min=min_global_price, max=max_global_price, step='1')
			input(type='range', value=max_global_price, min=min_global_price, max=max_global_price, step='1')
			span.margin-span
				| от
				input(name="min_price", type='number', min=min_global_price, max=max_global_price, value=min_global_price, form=form_id)
				| грн - до
				input(name="max_price", type='number', min=min_global_price, max=max_global_price, value=max_global_price, form=form_id)
				| грн

mixin form_disks
	form(id="form_disks" action="/disks" method="get")

mixin form_tires
	form(id="form_tires", action="/tires", method="get")