mixin form_disks
    form(id="form_disks" action="/disks" method="get")
    form.content-dis3
        #tab__content1.tab-content
            .setting
                .form-setting
                    p ПАРАМЕТРЫ
                    .form-row-setting
                        .row-setting
                            img(src='/radius-disc.png')
                            p диаметр
                            .select-wrapper
                                select(name="diameter", form="form_disks")
                                    option(selected, value="all") Все
                                    each val in disks_a_diameter
                                        option(value=val)= val
                        .row-setting
                            img(src='/width-disc.png')
                            p крепеж
                            .select-wrapper
                                select(name="krepezh", form="form_disks")
                                    option(selected, value="all") Все
                                    each val in disks_a_krepezh
                                        option(value=val)= val
                        .row-setting
                            img(src='/PCD.png')
                            p PCD
                            .select-wrapper
                                select(name="pcd", form="form_disks")
                                    option(selected, value="all") Все
                                    each val in disks_a_pcd1
                                        option(value=val)= val
                .brand
                    .form-row-brand
                        .row-setting
                            img(src='/zvezda.png')
                            p бренд
                            #Width-select.select-wrapper
                                select(name="brand", form="form_disks")
                                    option(selected, value="all") Все
                                    each val in disks_a_brand
                                        option(value=val)= val
            .wheater-new
                .wheater
                    .form-column-wheater
                        .row-wheater
                            label.label-cursor.label-row
                                input.checkbox(name='disk_type_litoi', type='checkbox', value="литой", form="form_disks")
                                p литые
                        .row-wheater
                            label.label-cursor.label-row
                                input.checkbox(name='disk_type_kovaniy', type='checkbox', value="кованый", form="form_disks")
                                p кованые
                        .row-wheater
                            label.label-cursor.label-row
                                input.checkbox(name='disk_type_stalnoi', type='checkbox', value="стальной", form="form_disks")
                                p стальные
                .button-search
                    button.button-select(form="form_disks")
                        p НАЙТИ

mixin form_tires
    form(id="form_tires", action="/tires", method="get")
    form.content-dis1
        #tab__content1.tab-content
            .setting
                .form-setting
                    p ПАРАМЕТРЫ
                    .form-row-setting
                        .row-setting
                            img(src='/width.png')
                            p ширина
                            .select-wrapper
                                select(name="width", form="form_tires")
                                    option(selected, value="all") Все
                                    each val in tires_a_width
                                        option(value=val)= val
                        .row-setting
                            img(src='/prof.png')
                            p высота
                            .select-wrapper
                                select(name="height", form="form_tires")
                                    option(selected, value="all") Все
                                    each val in tires_a_height
                                        option(value=val)= val
                        .row-setting
                            img(src='/height.png')
                            p диаметр
                            .select-wrapper
                                select(name="diameter", form="form_tires")
                                    option(selected, value="all") Все
                                    each val in tires_a_diameter
                                        option(value=val)= val
                .brand
                    .form-row-brand
                        .row-setting
                            img(src='/zvezda.png')
                            p бренд
                            #Width-select.select-wrapper
                                select(name="brand", form="form_tires")
                                    option(selected, value="all") Все
                                    each val in tires_a_brand
                                        option(value=val)= val
            .wheater-new
                .wheater
                    .form-column-wheater
                        .row-wheater
                            img(src='/leto.png')
                            label.label-cursor.label-row
                                input.checkbox(name='season_summer', type='checkbox', value="летняя", form="form_tires")
                                p летние
                        .row-wheater
                            img.hover-zima(src='/zima.png')
                            label.label-cursor.label-row
                                input.checkbox(name='season_winter', type='checkbox', value="зимняя", form="form_tires")
                                p зимние
                        .row-wheater
                            img(src='/vsesezon.png')
                            label.label-cursor.label-row
                                input.checkbox(name='season_all', type='checkbox', value="всесезонная", form="form_tires")
                                p всесезонные
                .button-search
                    button.button-select(form="form_tires")
                        p НАЙТИ

mixin form_by_auto(type)
    if type == "tires"
        form.content-dis2
            +inner_form_by_auto("tires")
    else if type == "disks"
        form.content-dis4
            +inner_form_by_auto("disks")

mixin inner_form_by_auto(type)
    .model-auto
        .column-model
            img(src='/zvezda-model.png', alt='')
            .item-model
                p производитель
                .select-wrapper
                    select(id=("select-vendor-" + type), name="vendor", onchange="on_change_select_vendor(this.value, '" + type + "')")
                        .data-holder(cattype=type)
                        each val in auto_a_vendor
                            option(value=val)= val
        .column-model
            .item-model
                p модель
                .select-wrapper
                    select(id=("select-model-" + type), name="model", onchange="on_change_select_model(this.value, '" + type + "')")
            img(src='/zvezdavzvezde.png', alt='')
    .model-auto
        .column-model
            img(src='/itemsutility.png', alt='')
            .item-model
                p модификация
                .select-wrapper
                    select(id=("select-modif-" + type), name="modif", onchange="on_change_select_modif(this.value, '" + type + "')")
        .column-model
            .item-model
                p год выпуска
                .select-wrapper
                    select(id=("select-year-" + type), name="year")
            img(src='/graduationyear.png', alt='')
    .button-search
        button.button-select(form="form_tires", onclick="click_find_by_auto('" + type + "'); return false;") НАЙТИ