mixin header
    header
        script(src="/e_burger.js")
        .header-top-bottom
            a.logo-adress(href='/main')
                .logotype
                    img.img-logo(src='/Logo.png')
            .menu
                ul.menu-header
                    li
                        a(href='/tires') Шины
                    li
                        a(href='/disks') Диски
                    li
                        a(href='/about') О нас
                    li
                        a(href='/pricing') Доставка & Оплата
            .number-form
                .icon-phone
                    .balls
                        .pulse
                        img.img-phone(src='/phone.png')
                .number
                    p.text-number 093 601 41 45
                    p.text-number 096 400 71 71
                    p.text-number 096 773 77 75
            .burger-menu
                .menu-wrapper
                    .hamburger-menu
            .free-cupon
                a(href='/basket')
                    .form-img
                        if basket_id
                            #basket-counter.label-place= basket_id.length
                        else
                            #basket-counter.label-place= basket_amount
                        img.img-free(src='/free.png')

mixin footer
    footer#footer
        .footer-row
            .location-maps
                .location-text
                    img(src='/location-footer.png', alt='')
                    p Украина,г.Киев,ул.Уличная,21
                .email
                    img(src='/email-footer.png', alt='')
                    p Email:&nbspPitStopMDA97779@gmail.com
            .copylink
                p Copyright © 2018 PITSTOP
            .number-phone
                img(src='/icon-number-footer.png', alt='')
                .number-footer
                    p 093 601 41 45
                    p 096 400 71 71
                    p 096 773 77 75