mixin item_basket(item, type)
    form.tovar-oplata-info(onclick="on_item_form_click(this, \'" + item.idProduct +"\', \'" + type + "\', \'" + Math.ceil(item.end_rozn_price) + "\')")
        .delete
            img.remove-cross(src='/krestix.png', alt='', onclick="remove_item_basket(this)")
        .tovar-info-price
            if type == "disks"
                img(src=('/' + item.photo_1), onerror='on_image_error(this)') 
            else if type == "tires"
                img(src=('/' + item.photo), onerror='on_image_error(this)')
            .info-text
                .column-text-info
                    p= "- Название: " + item.name
                    br
                    p= "- Бренд: " + item.brand
                    br
                    p= "- Модель: " + item.model
                    br
                    if type == "disks"
                        p - Тип: диск
                    else if type == "tires"
                        p - Тип: шина
                    br 
                    span.row-text-tovar
                        p Цена:
                        .oplata-text-pay
                            span.data-holder-price= Math.ceil(item.end_rozn_price)
                            span грн
                .value-number
                    .data-holder(idproduct=item.idProduct, amount='1', style={display: "none"}, type=type)= item.name
                    .ball-price-minus(onclick="change_item_amount(\'-\', \'" + Math.ceil(item.end_rozn_price) + "\', this)")
                        .minus -
                    input.plus-minus(name='value', type='text', value='1')
                    .ball-price-plus(onclick="change_item_amount(\'+\', \'" + Math.ceil(item.end_rozn_price) + "\', this)")
                        .plus +