.main input[type=radio] {
    display: none;
}

.tab label:nth-child(1) {
    margin: 5px 0px 5px 5px;
}

.tab label:nth-child(2) {
    margin: 5px 5px 5px 0px;
}

#tab-1:checked~.tab label:nth-child(1) {
    margin: 5px 0px 5px 5px;
}

#tab-1:checked~.tab label:nth-child(1):after {
    content: "";
}

#tab-1:checked~.tab label:nth-child(2) {
    margin: 5px 5px 5px 0px;
}

#tab-1:checked~.tab label:nth-child(1), #tab-2:checked~.tab label:nth-child(2) {
    box-shadow: none;
    flex-grow: 1;
    border: 1px solid red;
    border-radius: 5px;
    background: #1d1d1d;
}

.content>div {
    display: none;
}

#tab-1:checked~.content .content-shinu {
    display: block;
}

#tab-2:checked~.content .content-disc {
    display: block;
}

.main {
    border: 1px solid rgba(0, 0, 0, 0.2);
    max-width: 750px;
    margin: 0 auto;
    width: 100%;
}

.tab {
    display: flex;
    border: 1px solid #454545;
    border-radius: 5px;
}

.tab label {
    font-size: 18px;
    cursor: pointer;
    float: left;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    user-select: none;
    -webkit-user-select: none;
    width: 50%;
    background: #1d1d1d;
    border-radius: 5px;
    color: #fff;
    margin: 5px;
    -webkit-box-shadow: inset -3px 0px 3px 1px rgb(60, 60, 60);
    box-shadow: inset -3px 0px 3px 1px rgb(60, 60, 60);
}

.content {
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 250px;
}

.content>form {
    font-size: 17px;
}

.main1 input[type=radio] {
    display: none;
}

#tab-3:checked~.tab1 label:nth-child(1), #tab-4:checked~.tab1 label:nth-child(2) {
    box-shadow: none;
    flex-grow: 1;
    border: 1px solid red;
    border-radius: 5px;
    background: #1d1d1d;
}

#tab-5:checked~.tab1 label:nth-child(1), #tab-6:checked~.tab1 label:nth-child(2) {
    box-shadow: none;
    flex-grow: 1;
    border: 1px solid red;
    border-radius: 5px;
    background: #1d1d1d;
}

.contentt>form {
    display: none;
}

#tab-3:checked~.contentt .content-dis1 {
    display: block;
}

#tab-4:checked~.contentt .content-dis2 {
    display: block;
}

#tab-5:checked~.contentt .content-dis3 {
    display: block;
}

#tab-6:checked~.contentt .content-dis4 {
    display: block;
}

.main1 {
    border: 1px solid #454545;
    border-radius: 5px;
    max-width: 750px;
}

.tab1 {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.tab1 label {
    font-size: 18px;
    cursor: pointer;
    float: left;
    color: #fff;
    width: 25%;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    user-select: none;
    -webkit-user-select: none;
    flex-grow: 1;
    box-shadow: inset -3px 0px 3px 1px rgb(60, 60, 60);
    -webkit-box-shadow: inset -3px 0px 3px 1px rgb(60, 60, 60);
    background: #1d1d1d;
    border-radius: 5px;
}

.contentt {
    background-color: #1d1d1d;
    min-height: 250px;
    color: white;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid red;
}

.contentt>form {
    line-height: 1.5;
    font-size: 17px;
}

.tab__content {
    font-size: 20px;
    line-height: 140%;
    position: relative;
    left: 0px;
    display: none;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    border-radius: 5px;
    height: 100%;
}

.setting {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.form-setting {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    ;
}

.form-row-setting, .form-row-brand {
    display: flex;
    flex-direction: row;
}

.row-setting {
    margin: 10px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.brand {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
}

.select-wrapper {
    position: relative;
    width: 125px;
}

.select-wrapper:after {
    content: "";
    right: 5px;
    top: 10px;
    pointer-events: none;
    width: 10px;
    height: 10px;
    transform: rotate(135deg);
    border-top: 3px solid black;
    border-left: 0px;
    border-right: 3px solid black;
    position: absolute;
}

.select-wrapper:hover:after {
    content: "";
    right: 5px;
    top: 10px;
    pointer-events: none;
    width: 10px;
    height: 10px;
    transform: rotate(135deg);
    border-top: 3px solid red;
    border-left: 0px;
    border-right: 3px solid red;
    position: absolute;
}

select {
    background: #acacac;
    border: 0 !important;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    font-size: inherit;
    line-height: inherit;
    padding: 5px;
    cursor: pointer;
    width: 100%;
}

select::-ms-expand {
    display: none;
}

#Width-select {
    width: 250px;
}

.wheater-new {
    display: flex;
    flex-direction: column;
}

.form-column-wheater {
    flex-direction: column;
    display: flex;
    margin: 20px;
}

.row-wheater {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-wheater img, input, p {
    margin: 10px;
}

.checkbox {
    height: 25px;
    width: 25px;
}

.wheater {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.center-filter {
    display: none;
}

.button-search {
    display: flex;
    align-self: unsafe;
    margin: 20px auto;
    width: 100%;
}

.button-select {
    font-family: "Rubik";
    font-weight: 600;
    outline: none;
    color: white;
    position: relative;
    margin: 0 auto;
    height: 45px;
    width: 130px;
    background: none;
    border: 3px solid red;
    border-radius: 5px;
    cursor: pointer;
}

.button-select:hover {
    background: red;
}

.content-dis2 {
    display: flex;
    flex-direction: column;
}

.model-auto {
    display: flex;
}

.item-model {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
}

.column-model {
    display: flex;
    align-items: flex-end;
    margin: 20px;
    justify-content: flex-end;
    flex-direction: row;
    flex-basis: 50%;
}

.column-model img:nth-child(1), .column-model img:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
}

.item-model .select-wrapper {
    width: 100%;
}

@media(max-width: 560px) {
    .form-row-setting, .wheater, .model-auto {
        flex-direction: column;
    }
    .column-model {
        flex-basis: auto;
    }
}