.color
{
	background: #eee;
}
.content-404
{
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	margin-top: 109px;
	align-items: center;
	justify-content: center;
	align-self: center;
	color: #636363;
	font-family: 'Pompadur', sans-serif;
}
footer
{
	top: 0;
}
.content-404 p:nth-child(1)
{
	font-size: 160pt;
	height: 190px;
        font-weight: 900;
}
.content-404 p:nth-child(3)
{
	font-size: 14pt;
}
.line-404
{
	height: 1px;
	background: red;
	width: 50%;
	margin: 30px auto;
}
.button-404
{
	margin:20px auto;
}
.button-404 button
{
	height: 41px;
	width: 150px;
	color: #636363;
	font-weight: 600;
	background: #e1e1e1;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.button-404 button:hover
{
	color: red;
}