.content-onas {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    padding-top: 109px;
}

.content-center-margin {
    justify-content: center;
    font-size: 13pt;
    background: #fff;
    -webkit-box-shadow: 9px 49px 77px -47px rgba(0, 0, 0, .57);
    -moz-box-shadow: 9px 49px 77px -47px rgba(0, 0, 0, .57);
    box-shadow: 9px 49px 77px -47px rgba(0, 0, 0, .57);
    margin: 25px auto;
    position: relative;
    max-width: 1200px;
    ;
}

.text-line .line-onas {
    position: relative;
    right: 0;
    display: flex;
    width: 30%;
    height: 1px;
    margin-bottom: 10px;
    text-align: center;
    background-color: red;
    align-self: center;
}

.line-onas:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    margin: -5px -12px 0 -4px;
    content: '';
    text-align: center;
    border: 1px solid red;
    border-radius: 20px;
}

.text-line:hover .line-onas {
    visibility: visible;
    width: 100%;
    -webkit-animation: scale-in-hor-left 1s cubic-bezier(.25, .46, .45, .94) both;
    animation: scale-in-hor-left 1s cubic-bezier(.25, .46, .45, .94) both;
}

.text-benefits-items p:nth-child(2) {
    margin: 10px;
    color: #555;
}

.text-all p:nth-child(1), .text-advantages {
    font-size: 22pt;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 5px;
}

.center-text-benefits {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.text-benefits-items p:nth-child(1) {
    font-weight: 900;
}



.text-all {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.benefits {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: flex-start;
}

.benefits-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.text-benefits-items {
    margin: 16px 10px 10px;
}

@-webkit-keyframes scale-in-hor-left {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1;
    }
}

@keyframes scale-in-hor-left {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1;
    }
}

@media(max-width: 430px) {
    .text-all p:nth-child(1), .text-advantages {
        font-size: 20pt;
    }
}

@media(max-width: 800px) {
    .content-onas {
        width: 100%;
    }
}
@media(max-width: 960px) {
    .content-onas {
        padding:0;
    }
}