@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.sidebar-title-warn {
    text-align: center;
    color: yellow;
    font-size: 0.6em;
    margin: 0px 15px 0px 15px;
}

.upload-done-title {
    font-size: 0.8em;
    margin: 0;
    color: greenyellow;
    margin: 0;
    width: 100%;
    text-align: left;
    display: none;
}

.upload-error-title {
    font-size: 0.8em;
    margin: 0;
    color: red;
    margin: 0;
    width: 100%;
    text-align: left;
    display: none;
}

button, input[type="file"] {
    cursor: pointer;
}

.done-upload, .wrong-upload {
    width: 13px;
    height: 13px;
    display: none;
}

.loading-upload {
    display: none;
    width: 10px;
    height: 10px;
    margin-bottom: -2px;
    border: 2px solid #0255b4;
    border-top-color: #e9f3ff;
    border-radius: 100%;
    -webkit-animation: spin infinite 1s linear;
    animation: spin infinite 1s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.margined-sidebar-element {
    margin-bottom: 10px;
}

.sidebar .margined-sidebar-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar-title-mini-wrap {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.sidebar-title-mini {
    text-align: left;
    color: white;
    font-size: 0.8em;
    margin: 0px 15px 0px 0px;
}

.sidebar-title {
    color: white;
    text-align: center;
    margin: 0;
    text-decoration: underline;
    font-size: 1em;
    width: 100%;
    margin: 0px 15px 0px 15px;
}

.wrap-upload {
    padding-right: 15px;
    padding-left: 15px;
    background: #424242;
    bottom: 100px;
    height: auto;
    width: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap-upload input[type="file"] {
    color: white;
    margin-bottom: 10px;
}

body {
    margin: 0;
    height: auto;
    max-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    min-width: 1200px;
}

/* CONTENT */

.content {
    float: left;
    background: #E0E0E0;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 275px);
    max-height: 100vh;
}

.content .header {
    width: 100%;
    min-height: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content .item-list {
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-start;
    height: auto;
}

/* ITEMS */

.item-short .title-half {
    align-self: center;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-short {
    background: #BDBDBD;
    margin: 3px 5px 3px 5px;
    padding: 10px 5px 10px 5px;
    height: auto;
    width: calc(100% - 30px);
    display: grid;
    align-items: start;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.item-short .first-line, .item-short .second-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    flex-basis: calc(50% - 30px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
}

.item-short p, .item-short a {
    font-size: 0.8em;
    margin: 0;
    word-break: break-all;
}

.item-short a {
    color: #B71C1C;
    margin-right: 15px;
}

.item-short a:visited {
    color: #B71C1C;
}

/* FORMS*/

#form-find-by-number {
    background: #616161;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

#sort-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% - 30px);
    min-height: 34px;
    background: #212121;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 15px 0px 15px;
}

#sort-options a {
    text-decoration: none;
    background: #424242;
    color: white;
    padding: 2px 15px 2px 15px;
    font-size: 0.9em;
}

#sort-options label {
    color: white;
    font-size: 0.8em;
}

.number-input {
    width: 6em;
}

#sort-options a:hover {
    background: #C62828;
}

#search-description {
    background: #C62828;
    width: calc(100% - 30px);
    min-height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 15px 0px 15px;
}

#search-description p {
    color: white;
    margin: 0;
}

#search-description .results-found {
    position: absolute;
}

#search-description .page-numbers {
    margin: auto;
}

#search-description .page-numbers .not-selected {
    margin-left: 4px;
    color: #212121;
    margin-right: 4px;
    text-decoration: none;
}

#search-description .page-numbers .not-selected:visited {
    color: #212121;
}

#search-description .page-numbers .selected {
    margin-left: 4px;
    color: white;
    margin-right: 4px;
}

#search-description .page-numbers .selected:visited {
    color: white;
}

/* SIDEBAR */

.sidebar {
    position: relative;
    background: #212121;
    height: 100vh;
    width: 275px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar a {
    cursor: pointer;
    text-decoration: none;
    color: #E0E0E0;
    text-align: left;
    display: block;
    width: calc(100% - 15px);
    padding: 15px 0px 15px 15px;
    float: left;
}

.sidebar a:hover {
    background: #C62828;
}

.sidebar .selected {
    background: #B71C1C;
}

.sidebar p.sidebar-header {
    font-weight: bold;
    color: #E0E0E0;
    margin: 0;
    height: 65px;
    line-height: 65px;
    text-align: center;
}

.divider-sidebar {
    width: 100%;
    background: #C62828;
    height: 2px;
}