.content-auto {
    background: #eee;
    margin-top: 109px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header, .content-auto, footer {
    flex-shrink: 0;
}

.margin-auto {
    margin: 25px;
    background: white;
    width: 100%;
    max-width: 700px;
    -webkit-box-shadow: -3px 28px 59px -32px rgba(0, 0, 0, .75);
    -moz-box-shadow: -3px 28px 59px -32px rgba(0, 0, 0, .75);
    box-shadow: -3px 28px 59px -32px rgba(0, 0, 0, .75);
}

.column-auto {
    display: flex;
}

.tydres-left, .disc-right {
    flex-basis: 50%;
    margin: 20px;
}

footer {
    top: 0;
}

.margin-auto>p:nth-child(1) {
    font-size: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-weight: 900;
    margin-left: 10px;
    margin-right: 10px;
}

.option>p:nth-child(1) {
    border-bottom: 1px solid #E0E0E0;
}

.option {
    font-size: 20px;
    line-height: 26px;
}

.option li {
    list-style-type: square;
    color: red;
}

.option li a {
    text-decoration: none;
    color: red;
}

.img-text {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    font-size: 20px;
}

@media(max-width: 560px) {
    .column-auto {
        flex-wrap: wrap;
        justify-content: center;
    }
}