#empty-cart-half div {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#success-bg, #error-bg, #empty-cart-half {
    display: none;
}

#success-bg, #error-bg {
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#success-bg p, #error-bg p, #success-bg a, #error-bg a {
    text-align: center;
}

#success-bg p, #error-bg p, #empty-cart-half p {
    font-size: 35px;
}

#success-bg a, #error-bg a, #empty-cart-half a {
    text-decoration: none;
    font-size: 30px;
    color: red;
}

#success-bg a:visited, #error-bg a:visited, #empty-cart-half a:visited {
    color: red;
}

.field-title {
    margin: 0;
    padding: 0;
}

#back-to-previous {
    cursor: pointer;
}

.color {
    background: #eee;
}

.remove-cross {
    cursor: pointer;
}

.margin-backgraund {
    max-width: 1200px;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 9px 49px 77px -47px rgba(0, 0, 0, .57);
    -moz-box-shadow: 9px 49px 77px -47px rgba(0, 0, 0, .57);
    box-shadow: 9px 49px 77px -47px rgba(0, 0, 0, .57);
    justify-content: center;
    flex-direction: row;
    margin: 25px auto;
    display: flex;
}

.content-basket {
    /* Use 1 0 auto instead of just 1 for backwards compatibility with other browsers */
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    padding-top: 109px;
}

header, .content-basket, footer {
    flex-shrink: 0;
}

footer {
    top: 0;
}

.next {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.next p:nth-child(1) {
    font-size: 20pt;
    font-weight: 900;
    margin: 5px;
}

.next p:nth-child(2) {
    margin: 0 5px 0 5px;
    color: gray;
}

.basket-oform-zakaz {
    width: 100%;
    flex-basis: 50%;
    flex-wrap: wrap;
    margin: 15px;
    align-items: center;
    flex-direction: column;
}

.center-order {
    display: none;
    flex-direction: column;
}

.center-order-two {
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    margin: 0 auto;
}

.text-top-order {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
    white-space: nowrap;
    align-self: center;
    align-items: center;
}

.city-form {
    display: flex;
    flex-direction: column;
    ;
}

.adres {
    display: flex;
    flex-direction: column;
}

.line-center-order {
    width: 100%;
    height: 1px;
    margin-right: 10px;
    margin-left: 10px;
    background: red;
}

.column-checkbox-city {
    display: flex;
    margin-top: 2px;
    margin-bottom: 2px;
    flex-wrap: wrap;
    align-items: center;
}

.row-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column-checkbox-city input {
    width: 15px;
    height: 15px;
    margin: 10px;
}

.error-notif {
    color: red;
}

.order-button {
    font-weight: 600;
    width: 150px;
    height: 40px;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    background: none;
}

#order-button-personaldata:hover, .order-button:hover {
    background: red;
    cursor: pointer;
    color: white;
}

#order-button-personaldata {
    font-weight: 600;
    text-align: center;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    background: none;
    ;
}

.button-bootom {
    display: flex;
    margin: 5%;
    align-self: center;
}

.city-form input {
    height: 15px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.adres input {
    display: flex;
    height: 15px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.text-oform-zakaz {
    font-size: 20pt;
    font-weight: 900;
    display: flex;
    align-self: center;
}

.next .text-line {
    line-height: 1;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    align-self: flex-start;
    ;
}

.next .text-line:after {
    display: block;
    width: 30%;
    height: 2px;
    margin: 5px;
    content: '';
    transition: width .3s ease-in-out;
    background-color: #e90a0b;
}

.next .text-line:hover:after, .next .text-line:focus:after {
    width: 100%;
}

.footer {
    top: 13px;
}

.content-basket .basket-oform-zakaz:nth-child(2) {
    justify-content: center;
}

.tovar-oplata-info {
    display: flex;
    flex-direction: column;
    margin: 10%;
    align-items: center;
    justify-content: center;
}

.delete {
    display: flex;
    align-self: flex-end;
    align-items: center;
}

.tovar-info-price {
    display: flex;
    flex-direction: row;
    margin: 20px;
    flex-grow: 1;
}

.tovar-info-price img {
    max-height: 200px;
    margin-right: 50px;
    margin-left: 50px;
}

.row-oplata {
    font-size: 30px;
    font-weight: 900;
    margin: 20px;
    justify-content: center;
    display: flex;
    ;
}

.row-text-tovar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    ;
}

.row-oplata span:nth-child(1) {
    flex-grow: 1;
}

.row-oplata span:nth-child(2) {
    color: red;
}

.oplata-text-pay span:nth-child(1) {
    font-size: 25px;
    color: red;
}

.row-oplata span:nth-child(3), .row-text-tovar span:nth-child(2) {
    display: flex;
    margin-left: 10px;
    align-items: flex-end;
}

.info-text {
    font-size: 19px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.oplata-text-pay {
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
}

.value-number {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
}

.column-text-info {
    flex-grow: 1;
}

.column-text-info p {
    text-overflow: ellipsis;
}

.ball-price-plus, .ball-price-minus {
    font-size: 26px;
    justify-content: center;
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    color: white;
    border-radius: 25px;
    background: red;
    flex-direction: column;
    width: 26px;
    height: 26px;
    align-items: center;
}

.value-number input {
    width: 13%;
    display: flex;
    text-align: center;
    border: 0;
    background: none;
    font-size: 16px;
    font-weight: 600;
}

#minus {
    height: 25px;
    font-size: 29px;
    -moz-user-select: none;
    user-select: none;
    color: white;
    -khtml-user-select: none;
    display: flex;
    align-items: flex-end;
}

#plus {
    -moz-user-select: none;
    user-select: none;
    color: white;
    -khtml-user-select: none;
}

.red-text {
    font-weight: 600;
    color: red;
}

.personaldata {
    display: flex;
    flex-direction: column;
    ;
}

input:focus {
    outline: 0;
}

.personaldata input {
    display: flex;
    height: 15px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.row-oplata {
    white-space: nowrap;
}

.row-oplata span:nth-child(1) {
    flex-grow: 1;
}

.next a {
    color: grey;
    text-decoration: none;
}

@media(max-width: 960px) {
    .margin-backgraund {
        flex-wrap: wrap;
    }
}

@media(max-width: 560px) {
    .basket-oform-zakaz {
        flex-direction: row;
    }
    .tovar-info-price {
        flex-wrap: wrap;
    }
}