.buy-added {
	background: red;
	color: white;
}

.buy-notadded {
	background: white;
	color: red;
}

.catalog {
	font-family: 'Pompadur', sans-serif;
	font-weight: 900;
	flex-direction: row;
	background: #eee;
}

header, .catalog, footer {
	flex-shrink: 0;
}

a {
	text-decoration: none;
}

.catalog {
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	padding-top: 109px;
}

.catalog-v2 {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}

.row-item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}

.color {
	background: #eee;
}

.center {
	height: 100%;
}

input {
	outline: 0;
	-webkit-box-shadow: 0;
	box-shadow: 0;
}

#sortirovka {
	width: auto;
	height: auto;
	-webkit-appearance: menulist;
	appearance: menulist;
	border: 1px solid gray!important;
	background: white;
	border-radius: 0;
}

.range-slider {
	display: flex;
}

.range-slider svg, .range-slider input[type=range] {
	left: 0;
}

.row-ctatalog-shinu-disc {
	display: flex;
	align-items: center;
	flex-direction: row;
}

#checkbox-red {
	height: 20px;
	margin: 5px;
	border: 0 !important;
}

.setting-margin {
	font-family: 'Pompadur';
	font-weight: 900;
	width: 100px;
	position: relative;
	margin: 10px;
	border-bottom: 1px solid red !important;
	border-radius: 0;
	background: no-repeat;
	-webkit-appearance: menulist-button;
}

.filter {
	flex-direction: column;
	min-width: 350px;
	margin: 25px;
	background: white;
	-webkit-box-shadow: -3px 28px 59px -32px rgba(0, 0, 0, .75);
	-moz-box-shadow: -3px 28px 59px -32px rgba(0, 0, 0, .75);
	box-shadow: -3px 28px 59px -32px rgba(0, 0, 0, .75);
	flex-basis: 20%;
	height: auto;
	max-height: 700px;
}

.range-slider {
	position: relative;
	flex-direction: column;
}

.range-slider svg, .range-slider input[type=range] {
	position: absolute;
	margin: 0;
}

.margin-span {
	font-family: 'Pompadur';
	font-size: 18px;
	display: flex;
	margin: 24px;
}

input[type=number] {
	font-size: 18px;
	width: 80px;
	margin: auto;
	text-align: center;
	border: 0;
	background: none;
	-moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type=number]:invalid, input[type=number]:out-of-range {
	border: 2px solid #ff6347;
}

input[type=range] {
	width: 100%;
	-webkit-appearance: none;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: red;
}

input[type=range]:focus::-ms-fill-lower {
	background: red;
}

input[type=range]:focus::-ms-fill-upper {
	background: red;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	animation: .2s;
	border: 0;
	border-radius: 1px;
	background: red;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input[type=range]::-webkit-slider-thumb {
	position: relative;
	z-index: 2;
	width: 18px;
	height: 18px;
	margin-top: -8px;
	cursor: pointer;
	border: 1px solid red;
	border-radius: 25px;
	background: red;
	-webkit-box-shadow: 0 0 0 #000;
	box-shadow: 0 0 0 #000;
	-webkit-appearance: none;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animation: .2s;
	border: 0;
	border-radius: 1px;
	background: red;
	box-shadow: none;
}

input[type=range]::-moz-range-thumb {
	position: relative;
	z-index: 2;
	width: 18px;
	height: 18px;
	cursor: pointer;
	border: 1px solid #2497e3;
	border-radius: 25px;
	background: red;
	box-shadow: 0 0 0 #000;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animation: .2s;
	color: transparent;
	border-color: transparent;
	background: transparent;
}

input[type=range]::-ms-fill-lower, input[type=range]::-ms-fill-upper {
	border: 0;
	border-radius: 1px;
	background: red;
	box-shadow: none;
}

input[type=range]::-ms-thumb {
	position: relative;
	z-index: 2;
	width: 18px;
	height: 18px;
	cursor: pointer;
	border: 1px solid #2497e3;
	border-radius: 25px;
	background: red;
	box-shadow: 0 0 0 #000;
}

.setting-parametr, .row-shinu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#states {
	font-family: 'Pompadur';
	font-weight: 600;
	width: 100%;
	margin: 0;
	border-bottom: 1px solid red !important;
	border-radius: 0;
	background: no-repeat;
	-webkit-appearance: menulist-button;
}

#checkbox-red {
	height: 20px;
	margin: 5px;
	outline: none !important;
}

.row-shinu input {
	border: 0;
}

.margin-catalog {
	display: flex;
	flex-direction: column;
	margin: 20px;
	background: white;
	height: auto;
}

.catalog-shinu {
	margin: 20px;
	flex-basis: 80%;
	margin-right: 75px;
}

.shinu-text {
	font-size: 30px;
	flex-grow: 1;
}

.item {
	width: 270px;
	height: 370px;
	margin: 4px;
}

.text-item {
	font-size: 18px;
	font-weight: 600;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 10px;
	color: black;
}

.line-item {
	height: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: red;
}

.img-item {
	display: flex;
	width: 100%;
	background: white;
}

.img-item img {
	max-height: 200px;
	margin: 20px auto;
}

.row-img-button-price {
	font-family: 'Pompadure';
	display: flex;
	flex-direction: row;
	margin: 10px;
	align-items: center;
}

.row-img-button-price img {
	width: 25px;
	height: 25px;
}

.text-center-buy {
	display: flex;
	flex-direction: row;
	margin-right: 10px;
	justify-content: flex-end;
	flex-grow: 1;
}

.row-img-button-price span {
	font-size: 24px;
	font-weight: 300;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
}

.buy:hover {
	background: red;
	color: white;
}

.buy:focus, select {
	outline: 0;
}

.buy {
	font-weight: 900;
	font-size: 14px;
	font-family: 'Pompadur', sans-serif;
	width: 75px;
	height: 30px;
	border: 0;
	border-radius: 3px;
	border: 2px solid red;
}

.text-disc-item {
	margin: 0;
	color: grey;
}

.search-filter {
	display: flex;
	align-items: center;
	height: auto;
}

.button-filter {
	font-weight: 900;
	width: 100px;
	height: 40px;
	margin: 20px auto;
	color: red;
	border: 2px solid red;
	border-radius: 5px;
	background: none;
}

.item:hover {
	-webkit-box-shadow: 2px 11px 51px -10px rgba(0, 0, 0, .75);
	-moz-box-shadow: 2px 11px 51px -10px rgba(0, 0, 0, .75);
	box-shadow: 2px 11px 51px -10px rgba(0, 0, 0, .75);
}

.downolad {
	width: 100%;
	display: flex;
	justify-content: center;
}

.downolad-all:hover {
	color: black;
	background: grey;
	opacity: 0.5;
}

.downolad-all {
	width: 150px;
	height: 40px;
	background: grey;
	color: white;
	border-radius: 3px;
	border: 0;
	font-size: 15px;
}

.row-sort {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: gray;
}

/* Диски*/

.setting-parametr-disc {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.select-column {
	display: flex;
	width: 100%;
}

@media(max-width: 760px) {
	.catalog-v2 {
		flex-wrap: wrap;
	}
	.catalog-shinu {
		flex-basis: auto;
	}
}

@media(max-width: 560px) {
	.catalog
	{
		padding: 0;
	}

	.row-ctatalog-shinu-disc
	{
		flex-wrap: wrap;
	}
	.select-column {
		flex-direction: column;
	}
	.setting-margin {
		width: 100%;
	}
	.filter {
		flex-basis: 100%;
	}
	.setting-parametr {
		flex-direction: column;
	}
}

.button-filter:hover {
	color: white;
	background: red;
}