.buy-added {
    background: red;
    color: white;
}

.buy-notadded {
    background: white;
    color: red;
}

#back-to-previous {
    cursor: pointer;
}

#hide-plus-minus {
    opacity: 0;
}

.color {
    background: #eee;
}

header, .content-item-tovar, footer {
    flex-shrink: 0;
}

.content-item-tovar {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 109px;
}

.center-margin-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 25px;
    background: #fff;
    -webkit-box-shadow: 9px 49px 77px -47px rgba(0, 0, 0, .57);
    -moz-box-shadow: 9px 49px 77px -47px rgba(0, 0, 0, .57);
    box-shadow: 9px 49px 77px -47px rgba(0, 0, 0, .57);
    justify-content: center;
}

.left-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 568px;
}

.left-item p {
    font-size: 24px;
    font-weight: 900;
}

.img-tovar-item {
    height: 275px;
    margin: 20px auto;
}

.top-lider {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.value-number {
    display: flex;
    flex-direction: row;
}

.column-text-info {
    flex-grow: 1;
}

.ball-price-plus, .ball-price-minus {
    font-size: 26px;
    display: flex;
    width: 26px;
    height: 26px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    color: white;
    border-radius: 25px;
    background: red;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.value-number input {
    width: 13%;
    display: flex;
    text-align: center;
    border: 0;
    background: none;
    font-size: 16px;
    font-weight: 600;
}

#minus {
    font-size: 29px;
    height: 38px;
    -moz-user-select: none;
    user-select: none;
    color: white;
    -khtml-user-select: none;
}

#plus {
    font-size: 29px;
    display: flex;
    -moz-user-select: none;
    user-select: none;
    color: white;
    align-items: center;
    justify-content: center;
    -khtml-user-select: none;
}

.red-text {
    font-weight: 600;
    color: red;
}

.personaldata {
    display: flex;
    flex-direction: column;
    ;
}

.personaldata input {
    display: flex;
    height: 15px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.item-row-text a {
    text-decoration: none;
}

.center-info-item {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.center-info-item p {
    font-size: 24px;
    font-weight: 900;
}

.color-red-text {
    color: red;
}

.item-row-text {
    display: flex;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.item-row-text span:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
    color: gray;
}

.item-row-text span:nth-child(2) {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
}

#center {
    display: flex;
    align-items: center;
}

.item-margin-tovar {
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-row-text img {
    margin-right: 5px;
}

#text-size {
    font-size: 38px;
    font-weight: 900;
}

.left-item .item-row-text {
    align-items: center;
}

.button-korzina {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.basket:hover {
    background: red;
    color: white;
}

.basket {
    font-size: 20px;
    font-weight: 600;
    width: 118px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid red;
    border-radius: 3px;
}

.top-lider span:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
    color: gray;
}

.top-lider span {
    font-weight: 600;
    margin-right: 20px;
    margin-left: 20px;
}

.top-lider img {
    margin-right: 5px;
    margin-left: 5px;
}

.row-img-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-img-text img {
    margin: 12px;
}

.row-img-text p {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.info-dostavka {
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}

.text-item-column {
    color: grey;
}

.margin-item {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 20px;
}

@media(max-width: 760px) {
    .margin-item {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .left-item, .info-dostavka, .center-info-item {
        margin: 20px 10px 20px 10px;
    }
}