.label-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.label-cursor {
    cursor: pointer;
}

select:focus {
    outline: 0;
}

p {
    text-decoration: none;
}

html,
body {
    width: 100%;
    min-width: 300px;
    height: 100%;
    min-height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@font-face {
    font-family: Pompadur;
    /* Имя шрифта */
    src: url(/futuralightc.otf);
    /* Путь к файлу со шрифтом */
}

.shinu {
    position: absolute;
    width: 350px;
    height: 350px;
    left: -15px;
    top: 122px;
    z-index: 2;
}

.logotype {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 22%;
}

.img-logo {
    width: 180px;
    height: 109px;
    margin-right: 120px;
}

.img-phone {
    position: relative;
    width: 17px;
    height: 17px;
}

.img-free {
    width: 58px;
    height: 44px;
}

.menu-header {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    text-decoration: none;
    align-items: center;
    flex-basis: 100%;
    justify-content: space-around;
}

.menu-header li a {
    line-height: 1;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.menu-header li a:after {
    position: absolute;
    left: 50%;
    display: block;
    width: 0;
    height: 2px;
    content: '';
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #e90a0b;
    -moz--transition: width .3s ease-in-out;
}

.menu-header li a:hover:after,
.menu-header li a:focus:after {
    width: 100%;
}

li {
    font-size: .9em;
    margin: 20px;
    list-style-type: none;
    white-space: nowrap;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-basis: 48%;
    justify-content: center;
}

.header-top-bottom {
    display: flex;
    background: black;
    z-index: 999;
    position: fixed;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

header {
    font-size: 14.57pt;
    display: flex;
    text-transform: uppercase;
    color: white;
    background: black;
}

.icon-phone {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.balls {
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: #e90a0b;
    justify-content: center;
    align-items: center;
}

.number-form {
    display: flex;
    flex-direction: row;
    flex-basis: 16%;
}

.text-number {
    font-size: .9em;
    line-height: 19px;
    margin: 4px 0 6px 0;
    white-space: nowrap;
}

.free-cupon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pulse {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    -webkit-animation: pulsejg1 3s linear infinite;
    -moz-animation: pulsejg1 3s linear infinite;
    animation: pulsejg1 3s ease-out infinite;
    opacity: 0;
    border: 1px solid rgba(255, 0, 0, 0);
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0 0 12px 5px rgb(255, 0, 0);
    -moz-box-shadow: inset 0 0 12px 5px rgb(255, 0, 0);
    box-shadow: 0 0 1px 11px rgb(255, 0, 0);
}

.pulse2 {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    -webkit-animation: pulsejg1 3s linear infinite;
    -moz-animation: pulsejg1 3s linear infinite;
    animation: pulsejg1 3s ease-out infinite;
    opacity: 0;
    border: 1px solid rgba(255, 0, 0, 0);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 10px 8px rgb(255, 0, 0);
    -moz-box-shadow: inset 0 0 12px 5px rgb(255, 0, 0);
    box-shadow: 0 0 20px 2px rgb(255, 0, 0);
}

.pulse3 {
    position: absolute;
    z-index: 1;
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 325px;
    height: 325px;
    left: -2px;
    top: 130px;
    -webkit-animation: pulsejg1 3s linear infinite;
    -moz-animation: pulsejg1 3s linear infinite;
    animation: pulsejg1 3s ease-out infinite;
    animation-delay: 2s;
    opacity: 0;
    border: 1px solid rgba(255, 0, 0, 0);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0 0 12px 5px rgb(255, 0, 0);
    -moz-box-shadow: inset 0 0 12px 5px rgb(255, 0, 0);
    box-shadow: 0 0 20px 2px rgb(255, 0, 0);
    ;
    ;
}

@-webkit-keyframes pulsejg1 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }
    40% {
        -webkit-transform: scale(.8);
        opacity: .05;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: .1;
    }
    60% {
        -webkit-transform: scale(1.1);
        opacity: .3;
    }
    80% {
        -webkit-transform: scale(1.2);
        opacity: .1;
    }
    100% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg1 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }
    40% {
        -moz-transform: scale(.8);
        opacity: .05;
    }
    50% {
        -moz-transform: scale(1);
        opacity: .1;
    }
    60% {
        -moz-transform: scale(1.1);
        opacity: .3;
    }
    80% {
        -moz-transform: scale(1.2);
        opacity: .1;
    }
    100% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes pulsejg1 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }
    40% {
        transform: scale(.8);
        opacity: .1;
    }
    50% {
        transform: scale(1);
        opacity: .3;
    }
    60% {
        transform: scale(1.1);
        opacity: .7;
    }
    80% {
        transform: scale(1.2);
        opacity: .1;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

.jqcart-total-cnt {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    position: relative;
    padding: 25px 20px 25px 29px;
}

.label-place {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    display: flex;
    width: 25px;
    height: 25px;
    margin: 20px 0 0 -1px;
    color: black;
    border-radius: 30px;
    background: white;
    align-items: center;
    justify-content: center;
}

.form-img {
    position: relative;
    margin: 20px;
}

header,
.content-priory,
footer {
    flex-shrink: 0;
}

.content-priory {
    margin-top: 109px;
    flex: 1 1 auto;
}

.center-content {
    position: relative;
    display: flex;
    height: 570px;
    min-width: 320px;
    margin-right: 40px;
    margin-left: 40px;
}

.title-left {
    display: flex;
    align-items: center;
}

.disc {
    position: absolute;
    z-index: 3;
    top: 150px;
    left: 10px;
    height: 300px;
    width: 300px;
    transition: transform 2s ease-in-out;
}

.Quality {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-content: flex-start;
}

.strong {
    font-family: 'Pompadur', sans-serif;
    font-size: 6.7vw;
    font-weight: bold;
    margin: 0;
}

.bold {
    font-family: 'Pompadur', sans-serif;
    font-size: 4.77vw;
    font-weight: 300;
    margin: 0;
}

.title-glav .text-line {
    line-height: 1;
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    white-space: nowrap;
    text-decoration: none;
    color: white;
}

.title-glav .text-line:after {
    display: block;
    width: 30%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    content: '';
    transition: width .3s ease-in-out;
    background-color: #e90a0b;
}

.title-glav .text-line:hover:after,
.title-glav .text-line:focus:after {
    width: 100%;
}

.text-car {
    font-family: 'Pompadur', sans-serif;
    font-size: 16pt;
    font-weight: 300;
    color: white;
    margin: 30px 0 30px 0;
}

.text-quality {
    font-size: 16pt;
    position: relative;
    margin: 25px 0 25px 0;
    text-align: right;
    white-space: nowrap;
}

.form-assort,
.quality-garant,
.model,
.free-Delivery {
    display: flex;
    justify-content: flex-end;
}

.balls-rihgt {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 25px;
    border: 1px solid red;
    border-radius: 35px;
}

.form-balls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-text {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: flex-end;
    flex-grow: 1;
}

.line-text .line {
    position: relative;
    display: flex;
    visibility: hidden;
    width: 100%;
    height: 1px;
    margin-left: -3px;
    text-align: center;
    background-color: red;
    align-self: center;
    ;
}

.line:after {
    left: 0;
    width: 19px;
    height: 19px;
    margin: -10px 0 0 -21px;
    content: '';
    text-align: center;
    border: 1px solid red;
    border-radius: 20px;
}

.line-text:hover .line {
    visibility: visible;
    -webkit-animation: scale-in-hor-right 1s cubic-bezier(.25, .46, .45, .94) both;
    animation: scale-in-hor-right 1s cubic-bezier(.25, .46, .45, .94) both;
}

.basikbox>p {
    margin: auto;
}

.basikbox {
    font-family: 'Pompadur';
    font-weight: 900;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 40px;
    cursor: pointer;
    color: white;
    border: 0;
    border-radius: 4px;
    outline: none;
    background: red;
}

.center-button {
    display: flex;
    width: 600px;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.button {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.center-content {
    min-height: 300px;
    -webkit-animation: bounce-in-top 2.1s both;
    animation: bounce-in-top 2.1s both;
    animation-delay: 100ms;
}

.center-content .disc:hover {
    transform: rotate(360deg);
    cursor: pointer;
}

#upbutton {
    background: url("/down.png") no-repeat top left;
    height: 60px;
    width: 60px;
    bottom: 129px;
    right: 30px;
    cursor: pointer;
    display: none;
    background-position: center;
    position: fixed;
    z-index: 999;
    -webkit-animation: shake-vertical 5s linear infinite alternate-reverse forwards;
    animation: shake-vertical 5s linear infinite alternate-reverse forwards;
}

@-webkit-keyframes shake-vertical {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    80% {
        -webkit-transform: translateY(0.4px);
        transform: translateY(2.4px);
    }
    90% {
        -webkit-transform: translateY(-0.4px);
        transform: translateY(-0.4px);
    }
}

@keyframes shake-vertical {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    80% {
        -webkit-transform: translateY(0.4px);
        transform: translateY(0.4px);
    }
    90% {
        -webkit-transform: translateY(-0.4px);
        transform: translateY(-0.4px);
    }
}

@-webkit-keyframes scale-in-hor-right {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }
}

@keyframes scale-in-hor-right {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }
}

@-webkit-keyframes pulsejg1 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }
    40% {
        -webkit-transform: scale(.8);
        opacity: .05;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: .1;
    }
    60% {
        -webkit-transform: scale(1.1);
        opacity: .3;
    }
    80% {
        -webkit-transform: scale(1.2);
        opacity: .1;
    }
    100% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg1 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }
    40% {
        -moz-transform: scale(.8);
        opacity: .05;
    }
    50% {
        -moz-transform: scale(1);
        opacity: .1;
    }
    60% {
        -moz-transform: scale(1.1);
        opacity: .3;
    }
    80% {
        -moz-transform: scale(1.2);
        opacity: .1;
    }
    100% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes pulsejg1 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }
    40% {
        transform: scale(.8);
        opacity: .1;
    }
    50% {
        transform: scale(1);
        opacity: .3;
    }
    60% {
        transform: scale(1.1);
        opacity: .7;
    }
    80% {
        transform: scale(1.2);
        opacity: .1;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

body {
    font-family: 'Pompadur', sans-serif;
    font-weight: 300;
    background: url(/Layer1.png) no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

footer {
    position: relative;
    top: 116px;
    display: flex;
    flex-direction: column;
    color: #fff;
    background: #000;
}

.footer-row {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.menu-footer {
    flex-grow: 1;
}

.location-maps,
.menu-footer {
    margin: 19px auto;
}

.location-text,
.email {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.email img {
    margin-right: 10px;
    margin-left: 10px;
}

.number-phone img {
    margin-right: 10px;
    margin-left: 10px;
}

.location-text img {
    margin-right: 10px;
    margin-left: 10px;
}

.number-phone {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: flex-end;
}

.copylink {
    display: flex;
    margin: 5px auto;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
}

footer p {
    margin: 0;
}

.menu-footer-li li {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

@media(max-width: 1130px) {
    .strong {
        font-size: 55pt;
    }
    .bold {
        font-size: 39pt;
    }
    .header-top-bottom {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        position: fixed;
    }
    .img-logo {
        margin: 0;
    }
}

@media(max-width: 820px) {
    .content-priory {
        margin: 0;
    }
    .menu {
        -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .img-logo {
        margin: 0;
        width: 110px;
        height: 70px;
    }
    .row {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.burger-menu {
    display: none;
}

@media(max-width: 950px) {
    .content-priory {
        margin: 0px;
    }
    .header-top-bottom {
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .menu-wrapper {
        position: relative;
        height: 60px;
        cursor: pointer;
        margin-right: 20px;
    }
    .hamburger-menu,
    .hamburger-menu:after,
    .hamburger-menu:before {
        width: 35px;
        height: 5px;
    }
    .hamburger-menu {
        position: relative;
        transform: translateY(25px);
        background: white;
        transition: all 0ms 300ms;
    }
    .hamburger-menu.animate {
        background: rgba(255, 255, 255, 0);
    }
    .hamburger-menu:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 10px;
        background: white;
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .hamburger-menu:after {
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        background: white;
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .hamburger-menu.animate:after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .hamburger-menu.animate:before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .burger-menu {
        height: 50px;
        display: flex;
        order: 2;
        align-items: flex-start;
        justify-content: flex-end;
    }
    .number-form {
        display: none;
    }
    .menu {
        order: 1;
        opacity: 0;
        height: 0px;
        position: relative;
        transition: 200ms opacity, 1s height ease-in-out;
        flex-direction: column;
        display: inline-flex;
        justify-content: center;
    }
    .number {
        display: none;
    }
    .form-img {
        margin-left: 20px;
    }
    .number-form {
        flex-basis: auto;
    }
    .active-menu {
        display: flex;
        transition: 3.5s opacity, 1s height ease-in-out;
        height: 50px;
        opacity: 1;
    }
}

@media(max-width: 760px) {
    .menu {
        margin-top: 20px;
    }
    .logo-adress {
        position: relative;
        z-index: 4;
    }
    #upbutton {
        display: none;
    }
    .free-cupon {
        order: 2;
    }
    .menu-wrapper {
        margin: 0;
    }
    .burger-menu {
        height: 50px;
        display: flex;
        flex-grow: 1;
        order: 0;
        align-items: flex-start;
        justify-content: flex-end;
        position: relative;
        z-index: 5;
    }
    .active-menu {
        display: flex;
        transition: 3.5s opacity, 1s height ease-in-out;
        height: 200px;
        opacity: 1;
    }
    .header-top-bottom {
        flex-direction: column;
    }
    header {
        flex-direction: column;
    }
    .menu-header {
        flex-direction: column;
    }
}

@media (max-width: 660px) {
    .button {
        margin-bottom: 40px;
    }
    #upbutton {
        display: none;
    }
    .free-cupon {
        order: 2;
    }
    .menu-wrapper {
        margin: 0;
    }
    .burger-menu {
        height: 50px;
        display: flex;
        flex-grow: 1;
        order: 0;
        align-items: flex-start;
        justify-content: flex-end;
    }
    .active-menu {
        display: flex;
        transition: 3.5s opacity, 1s height ease-in-out;
        height: 200px;
        opacity: 1;
    }
    .header-top-bottom {
        flex-direction: column;
    }
    header {
        flex-direction: column;
    }
    .menu-header {
        flex-direction: column;
    }
    .strong {
        font-size: 65pt;
    }
    .bold {
        font-size: 46.4pt;
    }
}