.dostavka-oplata {
    flex-direction: column;
    margin: 25px auto;
    background: white;
    -webkit-box-shadow: 9px 49px 77px -47px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 9px 49px 77px -47px rgba(0, 0, 0, 0.57);
    box-shadow: 9px 49px 77px -47px rgba(0, 0, 0, 0.57);
    font-family: 'Pompadur', sans-serif;
    align-items: center;
    width: 70%;
}

.img-column {
    flex-direction: row;
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.item-tovar {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.img {
    margin: 20px auto;
}

.content-dostavka {
    background: #eeeeee;
    font-weight: 300;
    display: flex;
    justify-content: center;
    font-family: "Pompadure";
    flex: 1 0 auto;
    padding-top: 109px;
}

.img-nova {
    display: flex;
    margin: 0 auto;
}

.img {
    margin: 20px auto;
}

.payfree {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.img-time-care {
    align-self: center;
}

.color {
    background: #eeeeee;
}

.strong-text {
    font-size: 22pt;
    margin-bottom: 5px;
    margin-top: 5px;
    ;
    font-family: 'Pompadur', sans-serif;
    ;
    font-weight: 900;
}

.text-column-pay .strong-text {
    font-size: 13pt;
    margin-left: 0px;
    margin-right: 0px;
}

.payfree .img-nova {
    margin: 40px;
}

.img-time-care img {
    margin-top: 20px;
}

.img-payfree {
    align-items: flex-start;
}

.item-tovar .text-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
}

.item-tovar .text-line .line-onas {
    align-self: flex-start;
}

@media(max-width: 900px) {
    .dostavka-oplata {
        width: 100%;
    }
}
@media(max-width: 950px) {
    .content-dostavka
    {
        padding: 0;
    }
}

@media(max-width: 560px) {
    .item-tovar {
        align-items: center;
    }
    .img {
        width: 230px;
        height: auto;
    }
    .img-nova {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .payfree {
        flex-direction: column;
    }
    .img-column {
        flex-direction: column;
        margin: 0;
    }
}